<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faith.mytodo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyToDo">
        <activity
            android:name=".MiscellaneousActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar"></activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar" />
        <activity
            android:name=".RecyclebinActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar" />
        <activity
            android:name=".PrivateActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar" />
        <activity
            android:name=".GoalsActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar" />
        <activity
            android:name=".WorkActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar" />
        <activity
            android:name=".PersonalActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".GroupAdapterActivity" />
        <activity
            android:name=".GroupTaskActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.MyToDo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>